body {
  background-color: white
}
h1 {
    text-align: center;
  color: rgb(71, 42, 53);
  background-color: rgb(236, 255, 127);
  border: 10px solid;
  margin: 10px;
}
/* ul {
  color: black
  display: flex; 
  gap: 12px;
} */
.dp2 {
  color: black;
}
.dp3 {
  color: black;
}
.estudios1 {
    color: black;

}
  
.contenedor{
    display: flex; 
    align-items: center;
    width: 100;
}

.contenedor_links{ width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 5px solid black; 
  margin: 20px; 

}
.fotocv{
  background-image:auto;
  width: 400px;
  border: solid black;
  margin: auto;
  background-color: red;
  border-radius: 15px;
}


.contenedor_dp{
  color: black  ;
  text-align: center;
  border: 5px solid;
  margin: 10px auto; 
  width: 49%; 

}
.contenedor_dp li{
  list-style: circle;
  list-style-type: none;
}
li{
  list-style: none;
}
.contenedor_body{
  display: flex;
  height: 98vh;
  flex-direction: column;
  }
.contenedor_dp2{
  justify-self: end;
  align-self: flex-end;
}
.contenedor_compe{
  text-align: center;
  border: 5px solid;
  margin: 10px auto; 
  width: 49%; 
 border-radius: 15px;
}
.contenedor_estudios{ text-align: center;
  border: 5px solid;
  margin: ;10px auto;
  width: 50%;
  border-radius: 15px;
}
 
  

@media(max-width: 1200px){

}
@media(max-width: 992px){
  
}
@media(max-width: 768px){
  
}
@media(max-width: 576px){
  
}
