body {
  background-color: #ccc;
}
h1 {
  text-align: center;
  color: rgb(71, 42, 53);
  background-color: #ccc;
  border-bottom : 2px solid black ;
  margin: 10px;
  
}
/* ul {
  color: black
  display: flex; 
  gap: 12px;
} */
.dp2 {
  color: black;
}
.dp3 {
  color: black;
}
.estudios1 {
  color: black;
}

.contenedor {
  display: flex;
  align-items: center;
  width: 100;
}

.contenedor_links {
  width: fit-content;
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 12px 0;
  margin: 20px;
  background-color: #ddd;
justify-content: center;

}
.contenedor_links li a {
  padding: 12px 6px;
  color: black;
  text-decoration: none;
}
.contenedor_links li a:hover {
  background-color: #77f3f3;
  
}
.contenedor_links li{
  text-align: center;

}

.fotocv {
  background-image: auto;
  width: 400px;
  border: solid black;
  margin: auto;
  background-color: red;
  border-radius: 15px;
}

.contenedor_dp li  {
  list-style: circle;
}
.contenedor_dp{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
li {
  list-style: none;
}
.contenedor_body {
  display: flex;
  height: 98vh;
  flex-direction: column;
}


.contenedor_estudio {
  border: 5px solid;
  margin: 10px auto;
  border-radius: 15px;
  width: 50%;
  padding: 15px;
}
.contenedor_estudio li {
  list-style: circle;
  list-style-type: none;
  list-style: circle;
  list-style-position: inside;
  
}
.contenedor_links_padre{
  display: flex;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 768px) {
 .contenedor_estudio{
  width: 85%;
 }
 .fotocv{
  width: 300px;
 }
 
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 768px) {
 
}
